@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,500;1,200&display=swap');
:root {
    --cor0: #2D403B;
    --cor1: #A64B17;
    --cor2: #BCBF50;
    --cor3: #F2A057;
    --cor4: #F2C6A0;
    --font0: 'Roboto Mono', monospace;
}

* {
    font-family: var(--font0), Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor4);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    background-color: var(--cor3);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.526);

    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#imagem {
    background: white url('/imagens/login-mobile.jpg') center center no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
}

#formulario {
    padding: 10px;
    display: block;
}

#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

#formulario p {
    font-size: 0.8em;
}

.campo {
    background-color: var(--cor4);
    
    display: ;
    width: 100%;
}

input[type=submit] {
    color: var(--cor3);
    background-color: var(--cor0);
    font-size: 1em;

    border: none;
    border-radius: 7px 7px 0 0;
    display: block;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #202d2a;
}

.botao {
    color: var(--cor4);
    background-color: #425e57;
    font-size: 1em;
    text-align: center;
    text-decoration: none;

    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    display: block;
    border: 1px solid #2D403B; 
    border-radius: 0 0 7px 7px;
}
